@model PizzasViewModel

    <ul>
        <li>
            Pizza Name: @Model.Name
        </li>
        <li>
            Pizza Size: @Model.Size
        </li>
        <li>
            Pizza Price: @Model.Price денари.
        </li>
    </ul>
