@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h2 class="display-6">Welcome to the Company Project Service</h2>
    <br />    <br />    <br />    <br />
    <h4>Please use the navbar buttons to navigate &#x2191; </h4>
</div>
